@import '../../scss/variables';

.formWrapper {
	width: 100%;
    display: flex;
    justify-content: center;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
	&__field {
		margin-bottom: 2rem;
		width: 12rem;
	}
	&__label {
		color: $primary;
		letter-spacing: 0.05em;
		font-size: 14px;
		font-weight: bold;
		text-align: center;
		display: block;
		margin-bottom: 0;
	}
	&__input {
		text-align: center;
		font-size: 6rem;
		color: $tertiary;
		width: 100%;
		height: 12rem;
		border-radius: $radius;
		border: 2px solid $tertiary;	
		&::-webkit-inner-spin-button,
		&::-webkit-outer-spin-button {
			-webkit-appearance: none;
    		margin: 0;
		}
	}
}