@import '../../scss/variables';


.teamItem {
	margin-bottom: 3rem;
	&__wrapper {
		border: 1px solid $tertiary;
	}
	&__header {
		color: $primary;
		font-size: 2rem;
		text-align: center;
		padding: 1rem;
		border-bottom: 1px solid $tertiary;
	}
	&__workers {
		font-weight: bold;
		color: $primary;
		font-size: 1.6rem;
		padding: 1rem;
	}
}
